<div ng-controller="WidgetsCtrl">
	<div class="row">
		<div class="large-8 columns">
			<div id="menu">
				<ul class="menu-item">
					<li class="" ng-repeat="item in items">
						<a href="#" hidefocus="true" style="outline: none;">
							<img src={{item.icon}} class="icon" />
							<span>{{item.name}}</span>
							<span ng-if="item.item > 0">
								<span class="count">{{item.item}}</span>
							</span>
						</a>
					</li>
				</ul>	
			</div>
		</div>
		

		<div class="large-4 columns">
			<div class="widget-profile">
                <div class="profile-image">
                	<img src="_res/img/profile.png" alt="">
                </div>
                <div class="profile-middle">
                    <div class="profile-photo">
                    	<img src="_res/img/profile-middle.png" alt="">
                    </div>
                    <h4>John Raymons</h4>
                    <span class="resume">Your talent amazes! This is awesome. Excited to see the final product.</span>
                </div>
                <div class="profile-bottom">
                    <ul class="clearfix">
                        <li class="post-view first"><a href="#" hidefocus="true" style="outline: none;"><span><i class="icon-post"></i>172</span></a></li>
                        <li class="post-comm"><a href="#" hidefocus="true" style="outline: none;"><span><i class="icon-post"></i>34</span></a></li>
                        <li class="post-like last"><a href="#" hidefocus="true" style="outline: none;"><span><i class="icon-post"></i>210</span></a></li>
                    </ul>
                </div>
            </div>
		</div>
	</div>
</div>