<div ng-controller="WidgetsCtrl">
	<div class="row">
		<div class="large-8 columns">
			<!-- Menu -->
			<div class="row">
				<div class="large-12 columns">
					<div id="menu">
						<ul class="menu-item">
							<li class="" ng-repeat="item in items">
								<a href="#" hidefocus="true">
									<img ng-src="{{item.icon}}" class="icon" />
									<span>{{item.name}}</span>
									<span ng-if="item.item > 0">
										<span class="count">{{item.item}}</span>
									</span>
								</a>
							</li>
						</ul>	
					</div>
				</div>
			</div>
			<!-- Statistics & Tabs -->
			<div class="row">
				<div class="large-6 columns">
					<div class="widget-statistics" ng-repeat="location in locations">
                        <div class="statistics-title">
                            <span class="rate rate-up">{{location.rateUp}}</span>
                            <span class="rate rate-down">{{location.rateDown}}</span>
                        </div>
                        <div class="statistics-body">
                            <div class="time">{{location.time}}</div>
                            <h4 class="location">{{location.location}}</h4>
                            <ul class="shares">
                                <li>
                                	<a href="#">
                                		<strong>{{location.shares.traded}}</strong>
                                		<span>Shares Traded</span>
                                	</a>
                                </li>
                                <li>
                                	<a href="#">
                                		<strong>{{location.shares.market}}</strong>
                                		<span>Market Cap</span>
                                	</a>
                                </li>
                            </ul>
                            <ul class="graph small-block-grid-2">
								<li>
									<div>
										<h6 class="graph-title">AAPL</h6>
										<div class="graph-content">
											<img ng-src="{{location.aapl}}" alt="grap">
										</div>
									</div>
								</li>
								<li>
									<div>
										<h6 class="graph-title">Yearly Change</h6>
										<div class="graph-content">
											<span>{{location.yearly}}</span>
										</div>
									</div>
								</li>
							</ul>
                        </div>
                    </div>
				</div>
				<div class="large-6 columns">
					

				</div>
			</div>
		</div>
		<div class="large-4 columns">
			<div ng-repeat="profile in profiles" class="widget-profile">
                <div class="profile-image">
                	<img ng-src="{{profile.image}}" alt="cover">
                </div>
                <div class="profile-middle">
                    <div class="profile-photo">
                    	<img ng-src="{{profile.shortcut}}" alt="profile">
                    </div>
                    <h4>{{profile.name}}</h4>
                    <span class="resume">{{profile.resume}}</span>
                </div>
                <div class="profile-bottom">
                    <ul class="clearfix">
                        <li ng-mouseenter="imageShow = true" ng-mouseleave="imageShow = false">
                        	<a href="#" hidefocus="true">
                        		<span>
                        			<img ng-show="imageShow" src="_res/img/eye-red.png" class="icon-bottom" />
                        			<img ng-hide="imageShow" src="_res/img/eye-dark.png" class="icon-bottom" />
                        			{{profile.show}}
                        		</span>
                        	</a>
                        </li>
                        <li ng-mouseenter="imageMessage = true" ng-mouseleave="imageMessage = false">
                        	<a href="#" hidefocus="true">
                        		<span>
                        			<img ng-show="imageMessage" src="_res/img/message-red.png" class="icon-bottom" />
                        			<img ng-hide="imageMessage" src="_res/img/message-dark.png" class="icon-bottom" />
                        			{{profile.message}}
                        		</span>
                        	</a>
                        </li>
                        <li ng-mouseenter="imageHeard = true" ng-mouseleave="imageHeard = false">
                        	<a href="#" hidefocus="true">
                        		<span>
                        			<img ng-show="imageHeard" src="_res/img/heard-red.png" class="icon-bottom" />
                        			<img ng-hide="imageHeard" src="_res/img/heard-dark.png" class="icon-bottom" />
                        			{{profile.heard}}
                        		</span>
                        	</a>
                        </li>
                    </ul>
                </div>
            </div>
		</div>
	</div>
</div>