/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
 */
/* Github's Styl Guide
 */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/globals/global.sass */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 4, ../sass/globals/global.sass */
body {
  background-image: url("../../../img/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
/* line 9, ../sass/globals/global.sass */
body a, body p, body span, body h6, body h5, body h4, body h3, body h2, body h1 {
  font-family: "Open Sans", sans-serif;
}

/* line 12, ../sass/globals/global.sass */
.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 1, ../sass/sections/widgets/bio.sass */
.widget-profile {
  margin-top: 3rem;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
  z-index: 0;
}
/* line 12, ../sass/sections/widgets/bio.sass */
.widget-profile .profile-middle {
  position: relative;
  padding: 15px 10px 21px 111px;
  min-height: 116px;
}
/* line 17, ../sass/sections/widgets/bio.sass */
.widget-profile .profile-middle .profile-photo {
  position: absolute;
  top: 13px;
  left: 10px;
  width: 89px;
  height: 89px;
  overflow: hidden;
  border: 1px solid #BAB8B3;
  padding: 7px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
/* line 30, ../sass/sections/widgets/bio.sass */
.widget-profile .profile-middle .profile-photo img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
/* line 35, ../sass/sections/widgets/bio.sass */
.widget-profile .profile-middle h4 {
  font-size: 26px;
  font-weight: 600;
  color: #5c5146;
  margin-bottom: 10px;
}
/* line 41, ../sass/sections/widgets/bio.sass */
.widget-profile .profile-middle .resume {
  display: block;
  color: #8e8071;
  font-size: 13px;
  line-height: 13px;
  text-rendering: optimizeLegibility;
}
/* line 49, ../sass/sections/widgets/bio.sass */
.widget-profile .profile-bottom ul {
  overflow: hidden;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
/* line 55, ../sass/sections/widgets/bio.sass */
.widget-profile .profile-bottom ul li {
  float: left;
  background: #f5ede8;
  border-left: 1px solid #fff;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: #7b6d5e;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  width: 33.33333%;
}
/* line 68, ../sass/sections/widgets/bio.sass */
.widget-profile .profile-bottom ul li:hover > a {
  color: #e05033;
}
/* line 71, ../sass/sections/widgets/bio.sass */
.widget-profile .profile-bottom ul:first-child {
  border-left: 0 none;
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}
/* line 77, ../sass/sections/widgets/bio.sass */
.widget-profile .profile-bottom ul:first-child a {
  padding: 10px 5px;
  color: #7b6d5e;
}
/* line 81, ../sass/sections/widgets/bio.sass */
.widget-profile .profile-bottom ul:first-child a .icon-bottom {
  vertical-align: middle;
  margin-right: 8px;
}

/* line 1, ../sass/sections/widgets/menu.sass */
#menu {
  margin-top: 3rem;
}
/* line 4, ../sass/sections/widgets/menu.sass */
#menu ul {
  padding: 0 5px;
  z-index: auto;
}
/* line 8, ../sass/sections/widgets/menu.sass */
#menu .menu-item {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 64px;
  position: relative;
  z-index: 0;
}
/* line 17, ../sass/sections/widgets/menu.sass */
#menu .menu-item li {
  float: left;
  position: relative;
  border-left: 1px solid #F8F3F0;
}
/* line 22, ../sass/sections/widgets/menu.sass */
#menu .menu-item li:first-child {
  border-left: 0 none;
}
/* line 26, ../sass/sections/widgets/menu.sass */
#menu .menu-item li:hover > a {
  background: #f8f3f0;
  border-bottom: 3px solid #4daf7b;
}
/* line 30, ../sass/sections/widgets/menu.sass */
#menu .menu-item li a {
  display: block;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #8e8071;
  padding: 18px 23px 12px 16px;
  border-bottom: 3px solid transparent;
}
/* line 41, ../sass/sections/widgets/menu.sass */
#menu .menu-item li .icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
/* line 47, ../sass/sections/widgets/menu.sass */
#menu .menu-item li .count {
  display: block;
  width: 13px;
  height: 13px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 15px;
  right: 6px;
  text-align: center;
  font-size: 9px;
  line-height: 13px;
  color: #fff;
  background: #e55e3a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 1, ../sass/sections/widgets/statistics.sass */
.widget-statistics {
  margin-top: 3rem;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
  z-index: 0;
}
/* line 11, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-title {
  background-image: url("../../../img/statitics-header.png");
  background-size: 100% 100%;
  height: 160px;
  padding: 18px;
}
/* line 17, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-title .rate-up {
  font-size: 24px;
  color: #fff;
  background: url(../../../img/statistics-dir.png) 0 15px no-repeat;
}
/* line 22, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-title .rate {
  display: block;
  padding-left: 12px;
  text-rendering: optimizeLegibility;
}
/* line 27, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-title .rate-down {
  color: #b7dfc2;
  font-size: 14px;
}
/* line 31, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-body {
  padding: 33px 20px 38px;
}
/* line 34, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-body .time {
  font-size: 12px;
  color: #bfb8b1;
}
/* line 38, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-body .location {
  margin-bottom: 20px;
  font-size: 21px;
  color: #8e8071;
  cursor: pointer;
}
/* line 44, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-body .location:hover {
  font-size: 21px;
  color: #bfb8b1;
}
/* line 48, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-body .shares {
  margin-bottom: 24px;
  width: 100%;
  display: table;
}
/* line 53, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-body .shares li {
  float: left;
  width: 50%;
  background: #f6f0ec;
  border-left: 1px solid #fff;
}
/* line 59, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-body .shares li a {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #8e8071;
  text-align: center;
  padding: 20px 0;
}
/* line 67, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-body .shares li a:hover > * {
  color: #4daf7b;
}
/* line 71, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-body .shares li a strong {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #8e8071;
  text-align: center;
}
/* line 78, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-body .shares li a span {
  font-size: 12px;
  color: #ad9e8e;
}
/* line 83, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-body .graph .graph-title {
  font-size: 14px;
  color: #b4b0aa;
  margin-bottom: 8px;
}
/* line 89, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-body .graph .graph-content span {
  background: #4daf7b;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  display: block;
}
/* line 101, ../sass/sections/widgets/statistics.sass */
.widget-statistics .statistics-body .graph li {
  padding-bottom: 0;
}

/* line 1, ../sass/sections/widgets/tabs.sass */
.tabs {
  margin-top: 3rem;
}
/* line 5, ../sass/sections/widgets/tabs.sass */
.tabs .tabs_menu li {
  border: 1px solid #e4dbca;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 50px;
  line-height: 46px;
  margin-right: 3px;
  margin-top: 0;
  float: left;
  text-align: center;
  height: 48px;
  line-height: 48px;
  position: relative;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}
/* line 26, ../sass/sections/widgets/tabs.sass */
.tabs .tabs_menu li a {
  font-weight: 600;
  padding: 0 16px;
  color: #8e8071;
  font-size: 16px;
}
/* line 33, ../sass/sections/widgets/tabs.sass */
.tabs .tabs_menu li.active {
  border: 1px solid #fff;
  background: #fff;
}
/* line 37, ../sass/sections/widgets/tabs.sass */
.tabs .tabs-content {
  padding: 0;
  padding-top: 50px;
  overflow: visible;
  position: relative;
  top: -5px;
  z-index: 0;
  padding: 36px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
  z-index: 0;
}
/* line 53, ../sass/sections/widgets/tabs.sass */
.tabs .tabs-content h6 {
  font-weight: 700;
  color: #8e8071;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0;
  margin-bottom: 30px;
}
