/* line 1, ../../../sass/sections/widgets/bio.sass */
.widget-profile {
  margin-top: 3rem;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
  -moz-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
  box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
  margin-bottom: 30px;
  position: relative;
  z-index: 0;
}
/* line 15, ../../../sass/sections/widgets/bio.sass */
.widget-profile .profile-middle {
  position: relative;
  padding: 15px 10px 21px 111px;
  min-height: 116px;
}
/* line 20, ../../../sass/sections/widgets/bio.sass */
.widget-profile .profile-middle .profile-photo {
  position: absolute;
  top: 13px;
  left: 10px;
  width: 89px;
  height: 89px;
  overflow: hidden;
  border: 1px solid #BAB8B3;
  padding: 7px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
/* line 33, ../../../sass/sections/widgets/bio.sass */
.widget-profile .profile-middle .profile-photo img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
/* line 38, ../../../sass/sections/widgets/bio.sass */
.widget-profile .profile-middle h4 {
  font-size: 26px;
  font-weight: 600;
  color: #5c5146;
  margin-bottom: 10px;
}
/* line 44, ../../../sass/sections/widgets/bio.sass */
.widget-profile .profile-middle .resume {
  display: block;
  color: #8e8071;
  font-size: 13px;
  line-height: 13px;
  text-rendering: optimizeLegibility;
}
/* line 52, ../../../sass/sections/widgets/bio.sass */
.widget-profile .profile-bottom ul {
  overflow: hidden;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
/* line 58, ../../../sass/sections/widgets/bio.sass */
.widget-profile .profile-bottom ul li {
  float: left;
  background: #f5ede8;
  border-left: 1px solid #fff;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: #7b6d5e;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  width: 33.33333%;
}
/* line 71, ../../../sass/sections/widgets/bio.sass */
.widget-profile .profile-bottom ul li:hover > a {
  color: #e05033;
}
/* line 74, ../../../sass/sections/widgets/bio.sass */
.widget-profile .profile-bottom ul:first-child {
  border-left: 0 none;
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}
/* line 80, ../../../sass/sections/widgets/bio.sass */
.widget-profile .profile-bottom ul:first-child a {
  padding: 10px 5px;
  color: #7b6d5e;
}
/* line 84, ../../../sass/sections/widgets/bio.sass */
.widget-profile .profile-bottom ul:first-child a .icon-bottom {
  vertical-align: middle;
  margin-right: 8px;
}
