html
	-webkit-font-smoothing: antialiased
	
body
	background-image: url('../../../img/background.png')
	background-repeat: no-repeat
	background-size: 100%

	a, p, span, h6, h5, h4, h3, h2, h1
		font-family: 'Open Sans', sans-serif

.clearfix:before, .clearfix:after
	display: table
	line-height: 0
	content: ""

